.kanban {
  display: flex;
  width: 50%;
  padding-left: 10px !important;
  padding-right: 0px !important;
  padding-top: 16px;
  padding-bottom: 16px;
}
._outer {
  display: flex;
  flex-wrap: wrap;
}

.photo {
  border-radius: 50%;
  height: 100%;
}
.photo_cnt {
  height: 40px;
  text-align: center;
}
.details {
  margin-left: 10px;
  height: 40px;
}

.add_card {
  color: lightseagreen;
}


.del_usr {
  color: red;
  height: 40px;
  width: 40px;
  padding: 11px;
}


.add_icon {
  background: aliceblue;

  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 13px;
}


.profile:hover,
.add_card:hover {
  background: aliceblue;
}

.add_card:hover .add_icon {
  background: white;
}
.show_all {
  text-align: center;
  padding: 10px;
  border: solid 2px gainsboro;
  border-top: 0;
}
.show_all:hover {
  background: aliceblue;
}
