.photo {
  border-radius: 53px;
  height: 42px;
}
.details {
  margin-left: 10px;
  height: 42px;
}
.roww {
  border: solid 1px;
  display: flex;
  padding: 20px;
}

.del_usr {
  color: yellow;
  height: 42px;
}

.roww:hover .del_usr {
  color: black;
  height: 42px;
}
